.conatiner.contact_container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap:12%;
    margin-left: 20%;
} 

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


.contact_option{
    background: var(--color-bg-varient);
    padding:1.2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    border-radius: 1.2rem;
    text-align: center;
    transition: var(--transition);

}

.contact_option:hover{
    background: transparent;
    border-color: var(--color-primary-varient);


}

.contact_option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

}

.contact_option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
    
}

.contact_option-name{
    font-size: 0.85rem;
}


/* Form */

form{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
    
}

input, textarea{
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 1px solid var(--color-primary-varient);
    resize: none;
    color: var(--color-white);
}


/* Media Qurrey > Medium Devices*/


@media screen and (max-width:1024px){
    
  .conatiner.contact_container{
    grid-template-columns: 1fr;
    gap: 2rem;
  }
    
    
  }
  
  
  /* Media Qurrey > Small Devices*/
  
  
  @media screen and (max-width:600px){
    .conatiner.contact_container{
        grid-template-columns: 1fr;
        width: var(--container-width-sm);
        margin: 0 auto;
      }
    
  }
